*~
*.o
*.lo
*.la
*.bz2
*.swp
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
.dirstamp
stamp-*
.deps
.libs
autom4te.cache
intltool-*
po/*.gmo
po/.intltool-merge-cache
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
appdata/network-manager-wireguard.metainfo.xml
.vscode/

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out

/test-driver
*/tests/*.log
*/tests/*.trs
test-*.log

auth-dialog/nm-wireguard-auth-dialog
nm-wireguard-service.name
nm-openvpn.desktop
src/nm-wireguard-service
src/nm-openvpn-service-openvpn-helper
properties/tests/test-import-export
properties/tests/test-import-export-glib
properties/resources.[ch]
/NetworkManager-openvpn*.tar*
/po/NetworkManager-openvpn.pot
